FcgidWrapper "/home/httpd/cgi-bin/php84-fcgi-starter.fcgi" .php

RewriteEngine On
#RewriteCond %{REQUEST_URI}  !(\.png|\.jpg|\.webp|\.gif|\.jpeg|\.zip|\.css|\.svg|\.js|\.pdf|\.css.php|\.js.php|\.otf|\.ico)$
#RewriteCond %{REQUEST_URI}  !exclude.php$
#RewriteCond $0 !^excludedir/
#RewriteCond $0 ^api/
#RewriteCond $0 api/
RewriteRule ^api/(.*)$ be/handlers/RouteHandler.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]